@tailwind base;
@tailwind components;
@tailwind utilities;

.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
  background: #ff8800;
  overflow-x: hidden;
}
section {
  background-color: #ff8800;
}
h1 {
  font-size: 5vw;
  color: #4c0519;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
h2 {
  font-size: 2vw;
  color: #4c0519;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
h3 {
  font-size: 1.5vw;
  color: #4c0519;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
#Afrunding {
  background-color: #0F3067;
}
.lys-text {
  color: #ffedc9;
}

@layer base {
  @font-face {
    font-family: "DisplayBold";
    src: url('/src/assets/fonts/Rubik-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: "Brød";
    src: url('/src/assets/fonts/Rubik-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: "LightItalic";
    src: url('/src/assets/fonts/Rubik-LightItalic.ttf') format('truetype');
  }
}