@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #ff8800;
  overflow-x: hidden;
}
section {
  background-color: #ff8800;
}
h1 {
  font-size: 5vw;
  color: #4c0519;
}
h2 {
  font-size: 2vw;
  color: #4c0519;
}
h3 {
  font-size: 1.5vw;
  color: #4c0519;
}
p {
  color: #4c0519;
}
#Afrunding {
  background-color: #0F3067;
}
.lys-text {
  color: #ffedc9;
}
.blå-text {
  color: #6cc5c1;
}
.rød-text {
  color: #db172b;
}

@layer base {
  @font-face {
    font-family: "DisplayBold";
    src: url('/src/assets/fonts/Rubik-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: "Brød";
    src: url('/src/assets/fonts/Rubik-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: "LightItalic";
    src: url('/src/assets/fonts/Rubik-LightItalic.ttf') format('truetype');
  }
}